/****************************************************************************
 * 
 * Purpose : To assign colors and reuse the variables.
 * 
 * @description
 * @file : variables.scss
 * @author : Deepthi V <deepthiv286@gmail.com>
 * @version : 1.0
 * @since : 10/04/2019
 * 
 ****************************************************************************/
$blue:rgba(0, 81, 255, 0.712);
$red:rgba(255, 38, 0, 0.856);
$goldenYellow:rgba(255, 187, 0, 0.671);
$green:rgba(0, 128, 64, 0.699);
$yellow:rgb(231, 221, 175);
$gray:gray;
$black:rgba(0, 0, 0, 0);